@model IEnumerable<WebdevelopmentDemo.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Product Name
            </th>
            <th>
               Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
    foreach(var products in item.Products)
            {
                <td>@products.Name</td>
                <td>@products.Price</td>
            }
        }
    </tbody>
</table>
